# Eat Safe, Love

## Notebook Set Up

In [ ]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [ ]:
# review the collections in our database

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question:
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query =establishments.find_many({"hygiene":20})

# Use count_documents to display the number of documents in the result
query2=establishments.count_documents({"hygiene":20})
# Display the first document in the results using pprint
pprint(establishments.find_one({"hygiene":20}))

In [ ]:
# Convert the result to a Pandas DataFrame
df1=pd.DataFrame(query1)
# Display the number of rows in the DataFrame
df1.shape
# Display the first 10 rows of the DataFrame
print(df1.head(10))

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query =establishments.find_many({"Local Authority":"^(London)\s([A-Za-z]{5})\s([A-Za-z]{9})$"},{"RatingValue":4})

# Use count_documents to display the number of documents in the result
establishments.count_documents(query)
# Display the first document in the results using pprint
pprint(establishments.find_one(query))

In [ ]:
# Convert the result to a Pandas DataFrame
result1=pd.DataFrame(query)
# Display the number of rows in the DataFrame
result1.shape
# Display the first 10 rows of the DataFrame
print(result1.head(10))

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =

# Print the results
pprint(result)

In [ ]:
# Convert result to Pandas DataFrame
pd.DataFrame(result)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
result2
# Print the number of documents in the result
print(df.shape)
# Print the first 10 results
print(df.head(10))

In [ ]:
# Convert the result to a Pandas DataFrame
pd.DataFrame(result2)
# Display the number of rows in the DataFrame
result2.shape
# Display the first 10 rows of the DataFrame
result2.head(10)